In [1]:
import numpy as np

In [2]:
A = np.array([[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]])

In [3]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
A.shape

(3, 3)

In [8]:
A.ndim

2

In [12]:
b = np.array([[3], 
     [1], 
     [2]])

In [13]:
b

array([[3],
       [1],
       [2]])

In [15]:
b.shape

(3, 1)

In [14]:
b.ndim

2

#### Broadcasting

In [16]:
A * b

array([[ 3,  6,  9],
       [ 4,  5,  6],
       [14, 16, 18]])

In [24]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
C = np.array([[2, 2, 2], 
              [2, 2, 2], 
              [2, 2, 2]])

In [21]:
A * C

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [23]:
A * np.array([[2]])

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

#### Линейная алгебра

In [17]:
np.dot(A, b)

array([[11],
       [29],
       [47]])

In [18]:
A.shape, b.shape

((3, 3), (3, 1))

In [25]:
np.dot(A, C)

array([[12, 12, 12],
       [30, 30, 30],
       [48, 48, 48]])

#### Пример Broadcating

Хлеб, 10 яиц, молоко 1л

In [27]:
price = np.array([[30, 100, 80]])
price

array([[ 30, 100,  80]])

Покупатели: 1 строка - 1-й покупатель, 2 строка - 2-й покупатель и т.д.

In [28]:
c = np.array([[1, 2, 3],
              [0, 1, 1],
              [2, 1, 5]])

In [30]:
d = c * price
d

array([[ 30, 200, 240],
       [  0, 100,  80],
       [ 60, 100, 400]])

#### Сумма для каждого покупателя

In [36]:
c.sum(axis=1)

array([6, 2, 8])

In [34]:
d.sum(axis=1)

array([470, 180, 560])

#### Сумма для каждого продукта

In [37]:
c.sum(axis=0)

array([3, 4, 9])

In [35]:
d.sum(axis=0)

array([ 90, 400, 720])

#### Массивы из строк

In [38]:
s = np.array(['a', 'b', 'abc'])
s

array(['a', 'b', 'abc'], dtype='<U3')

#### Объединение массивов

In [ ]:
комнаты, площадь, кухня

In [39]:
a1 = np.array([[1, 35, 8], 
               [1, 40, 10], 
               [2, 50, 9], 
               [3, 65, 12]])
a1

array([[ 1, 35,  8],
       [ 1, 40, 10],
       [ 2, 50,  9],
       [ 3, 65, 12]])

Цена на квартиры в млн. руб.

In [40]:
p = np.array([[3.5], [3.7], [6.5], [9.2]])
p

array([[3.5],
       [3.7],
       [6.5],
       [9.2]])

In [41]:
a2 = np.hstack([a1, p])
a2

array([[ 1. , 35. ,  8. ,  3.5],
       [ 1. , 40. , 10. ,  3.7],
       [ 2. , 50. ,  9. ,  6.5],
       [ 3. , 65. , 12. ,  9.2]])

In [42]:
new_flat = np.array([[4, 72, 11, 12.5]])
new_flat

array([[ 4. , 72. , 11. , 12.5]])

In [44]:
a2 = np.vstack([a2, new_flat])
a2

array([[ 1. , 35. ,  8. ,  3.5],
       [ 1. , 40. , 10. ,  3.7],
       [ 2. , 50. ,  9. ,  6.5],
       [ 3. , 65. , 12. ,  9.2],
       [ 4. , 72. , 11. , 12.5]])

In [45]:
a2.mean(axis=0)

array([ 2.2 , 52.4 , 10.  ,  7.08])

In [46]:
a2[:, -1]

array([ 3.5,  3.7,  6.5,  9.2, 12.5])

In [48]:
a2[:, -1].sum()

35.4

In [47]:
a2[:, -1].mean()

7.08

In [50]:
np.median(a2[:, -1])

6.5

In [51]:
a2[:, 1]

array([35., 40., 50., 65., 72.])

In [52]:
a2[:, 1].sum()

262.0

In [58]:
a2.shape

(5, 4)

In [56]:
a2.shape[0]

5

In [57]:
a2.shape[1]

4